In [1]:
import pandas as pd

#Loading the data
bank_data = pd.read_csv("bank.txt",header=0,sep=';')

In [2]:
#Explore the Data

#identify the no. of rows and columns
print(bank_data.shape)

(4521, 17)

In [3]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
#The dataset has the following attributes:

#1 - age (numeric)
#2 - job : type of job (categorical:
#"admin.","unknown","unemployed","management","housemaid","entrepreneur","student", #"blue-collar","self-employed","retired","technician","services")
#3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means #divorced or widowed)
#4 - education (categorical: "unknown","secondary","primary","tertiary")
#5 - default: has credit in default? (binary: "yes","no") ####failure to pay minimum money
#6 - balance: average yearly balance , in euros(k) (numeric)
#7 - housing: has housing loan? (binary: "yes","no")
#8 - loan: has personal loan? (binary: "yes","no")
#9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
#10 - day: last contact day of the month (numeric)
#11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
#12 - duration: last contact duration, in seconds (numeric)
#13 - campaign: number of contacts performed during this campaign and for this client (numeric,includes last contact)
#14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
#15 - previous: number of contacts performed before this campaign and for this client (numeric)
#16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")
#Response Variable (Dependent Variable) (Target Variable):
#17 - y : has the client subscribed to a term deposit?(binary: "yes","no")

In [5]:
#View column names
print(bank_data.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [6]:
#View the index
print(bank_data.index)

RangeIndex(start=0, stop=4521, step=1)

In [7]:
#why only 4522 customers in data

#for this 4522 customers, we knew information whether they subscribed the term deposit or not... how this information is known?

#does this 16 features(independent variables) coming from same table... #source of independent variables

In [8]:
#View the top rows of the data
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [9]:
#Identify data type of each feature
print(bank_data.dtypes)

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [10]:
#get statistic summary of your data 
print(bank_data.describe(include='all'))

                age         job  marital  education default       balance  \
count   4521.000000        4521     4521       4521    4521   4521.000000
unique          NaN          12        3          4       2           NaN
top             NaN  management  married  secondary      no           NaN
freq            NaN         969     2797       2306    4445           NaN
mean      41.170095         NaN      NaN        NaN     NaN   1422.657819
std       10.576211         NaN      NaN        NaN     NaN   3009.638142
min       19.000000         NaN      NaN        NaN     NaN  -3313.000000
25%       33.000000         NaN      NaN        NaN     NaN     69.000000
50%       39.000000         NaN      NaN        NaN     NaN    444.000000
75%       49.000000         NaN      NaN        NaN     NaN   1480.000000
max       87.000000         NaN      NaN        NaN     NaN  71188.000000

       housing  loan   contact          day month     duration     campaign  \
count     4521  4521      4521  4521.000000  4521  4521.000000  4521.000000
unique       2     2         3          NaN    12          NaN          NaN
top        yes    no  cellular          NaN   may          NaN          NaN
freq      2559  3830      2896          NaN  1398          NaN          NaN
mean       NaN   NaN       NaN    15.915284   NaN   263.961292     2.793630
std        NaN   NaN       NaN     8.247667   NaN   259.856633     3.109807
min        NaN   NaN       NaN     1.000000   NaN     4.000000     1.000000
25%        NaN   NaN       NaN     9.000000   NaN   104.000000     1.000000
50%        NaN   NaN       NaN    16.000000   NaN   185.000000     2.000000
75%        NaN   NaN       NaN    21.000000   NaN   329.000000     3.000000
max        NaN   NaN       NaN    31.000000   NaN  3025.000000    50.000000

              pdays     previous poutcome     y
count   4521.000000  4521.000000     4521  4521
unique          NaN          NaN        4     2
top             NaN          NaN  unknown    no
freq            NaN          NaN     3705  4000
mean      39.766645     0.542579      NaN   NaN
std      100.121124     1.693562      NaN   NaN
min       -1.000000     0.000000      NaN   NaN
25%       -1.000000     0.000000      NaN   NaN
50%       -1.000000     0.000000      NaN   NaN
75%       -1.000000     0.000000      NaN   NaN
max      871.000000    25.000000      NaN   NaN

In [11]:
#get statistic summary of your data 
print(bank_data.describe())

               age       balance          day     duration     campaign  \
count  4521.000000   4521.000000  4521.000000  4521.000000  4521.000000
mean     41.170095   1422.657819    15.915284   263.961292     2.793630
std      10.576211   3009.638142     8.247667   259.856633     3.109807
min      19.000000  -3313.000000     1.000000     4.000000     1.000000
25%      33.000000     69.000000     9.000000   104.000000     1.000000
50%      39.000000    444.000000    16.000000   185.000000     2.000000
75%      49.000000   1480.000000    21.000000   329.000000     3.000000
max      87.000000  71188.000000    31.000000  3025.000000    50.000000

             pdays     previous
count  4521.000000  4521.000000
mean     39.766645     0.542579
std     100.121124     1.693562
min      -1.000000     0.000000
25%      -1.000000     0.000000
50%      -1.000000     0.000000
75%      -1.000000     0.000000
max     871.000000    25.000000

In [ ]:
# age:
avg age of customers: 41

19- -33- -39- -49- -87

balance:
    
    
  
who likes our product
        who have money?
        who does not

In [12]:
bank_data['y'].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [13]:
bank_data['y'].value_counts(normalize=True)

no     0.88476
yes    0.11524
Name: y, dtype: float64

In [ ]:
Event rate 11%

11% ones and 11% sampled from zeros

balanced datasets

should we go for balanced dataset or ashould we go for imbalnced dataset using all the data available?

imbalanced data set: sampling techniques also smote analysis used ... while using evaluation metric be cautious ... precision recall will be used....

In [ ]:
#here Yes is the interested phenomenon..... Event

# Event rate in data= 11. 5 percent


#balanced dataset
45,55
50,50

#balanced Data sets and imbalanced data

#Handling imabalanced data..... Sampling techniques.... Smote Analysis

In [14]:
bank_data['education'].value_counts()

secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

In [12]:
bank_data['taken_term']=bank_data['y'].map(lambda x: 1 if x=='yes' else 0)

In [13]:
bank_data.head(100)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,taken_term
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,41,unknown,single,tertiary,no,1567,no,no,cellular,1,jul,291,2,-1,0,unknown,no,0
96,41,admin.,married,tertiary,no,5426,yes,no,unknown,14,may,149,2,-1,0,unknown,no,0
97,30,admin.,single,tertiary,no,261,no,no,cellular,19,oct,233,1,137,20,failure,no,0
98,36,blue-collar,divorced,secondary,no,2843,no,no,cellular,12,feb,473,1,182,1,success,no,0
99,31,unemployed,single,primary,no,406,no,no,cellular,4,feb,736,1,-1,0,unknown,yes,1

In [14]:
target_variable=bank_data['taken_term']

In [15]:
bank_data=bank_data.drop(['y','taken_term'], axis=1)

In [16]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome'],
      dtype='object')

In [17]:
bank_data_num=bank_data.select_dtypes(include=['float64','int64'])

bank_data_num_col=bank_data_num.columns.tolist()

bank_data_cat=bank_data.select_dtypes(include=['object'])

bank_data_cat_col=bank_data_cat.columns.tolist()

In [18]:
bank_data_cat.head()

,job,marital,education,default,housing,loan,contact,month,poutcome
0,unemployed,married,primary,no,no,no,cellular,oct,unknown
1,services,married,secondary,no,yes,yes,cellular,may,failure
2,management,single,tertiary,no,yes,no,cellular,apr,failure
3,management,married,tertiary,no,yes,yes,unknown,jun,unknown
4,blue-collar,married,secondary,no,yes,no,unknown,may,unknown

In [19]:
bank_data_num.head()

   age  balance  day  duration  campaign  pdays  previous
0   30     1787   19        79         1     -1         0
1   33     4789   11       220         1    339         4
2   35     1350   16       185         1    330         1
3   30     1476    3       199         4     -1         0
4   59        0    5       226         1     -1         0

In [20]:
def show_missing(data):
    missing=data.columns[data.isnull().any()].tolist()
    return missing

missing_col_num=show_missing(bank_data_num)
missing_col_cat=show_missing(bank_data_cat)

#count of missing records
missing_count_num=bank_data_num[missing_col_num].isnull().sum()
missing_count_cat=bank_data_cat[missing_col_cat].isnull().sum()

In [21]:
print(missing_count_num)
print(missing_count_cat)

Series([], dtype: float64)
Series([], dtype: float64)

In [22]:
bank_data_cat = pd.get_dummies(bank_data_cat)

bank_data_cat.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [23]:
bank_data_cat.columns

Index(['job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'month_apr', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [24]:
#imputations
#encodings
#scaling
#outlier management
#skew transformations

In [28]:
total_data=pd.concat([bank_data_num,bank_data_cat],axis=1)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(total_data, target_variable, test_size=0.25,random_state=42)

In [29]:
#Find the distribution of the target in train and test
print(pd.value_counts(y_train))
print(pd.value_counts(y_test))

0    2994
1     396
Name: taken_term, dtype: int64
0    1006
1     125
Name: taken_term, dtype: int64

In [30]:
396/2994

0.13226452905811623

In [31]:
from sklearn import tree
import matplotlib.pyplot as plt

#Building a Basic Decision Tree Model (default)
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)

preds=clf.predict(x_test)

pred_probability=clf.predict_proba(x_test)

In [32]:
preds

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [33]:
pred_probability

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [34]:
from sklearn.metrics import accuracy_score
accuracy_test_DT=accuracy_score(y_test, preds)

train_preds=clf.predict(x_train)

accuracy_train_DT=accuracy_score(y_train, train_preds)

accuracy_test_DT=accuracy_score(y_test, preds)

In [35]:
print('accuracy_train_DT',accuracy_train_DT)
print('accuracy_test_DT',accuracy_test_DT)

accuracy_train_DT 1.0
accuracy_test_DT 0.8664898320070734

In [ ]:
#100% model performance in training set
#87% model performance in testing set

#model overfitting


#Preprocessing normalisation to redcue effect on overfitting
#Feature redundancy
#outlier

#we have applied default DecisionTree on this data.... is this the good one....
#is this the optimsed one for this data?

In [ ]:
#for example if this model performs in below way

#60% in Training
#56% in testing


#underfitting ( poor model)

#60...56.... 

#even if you try to increase model performance it may not increase further


#for example

#70....65... then good experiment

#70....40.... no bad experiment ... so 60... 56 is better

#60%... 61%

In [ ]:
#sinc ethis is a binary classification, we apply all the possible machine learning algorithms usefull for Binary classification

#Decision Tree
#Logistic Regression
#Random Forest

#since I have target variable, i will not prefer unsupervised learning algorithmK means Clustering

#I cant apply Linear Regression

In [ ]:
firstly we should try default Decision Tree algorithm

example: default decision tree
    clf = tree.DecisionTreeClassifier()
    clf = clf.fit(x_train, y_train)
    
Secondy apply tuned decision tree using hyper parameter tuning... grid search....


example: default Random Forest
    clf = ensemble.RandomForestClassifier()
    clf = clf.fit(x_train, y_train)
    
Secondy apply tuned Random Forest using hyper parameter tuning... grid search....

:
:
:
    remaining algorithms
    
Adaboost technique

In [36]:
Cigna

they only logistic regression SAS 

once Random Forest Model..... 

Analytics Vidhya... It helped 

Random forest Regressor

All of them were Random Forest

Citi 

Random Forest.... I got results..
Logistic Regression.... Random forest.....

Logistic regression...
random forest..... I improved ...... then 

Siemens:

Random Forest

SyntaxError: invalid syntax (<ipython-input-36-d99cb5302eb1>, line 2)

In [ ]:
#Decision Tree
#Logistic Regression
#Random Forest
#gradient Boosting
#Adaboost
#XGboost
#Naive Bayes
#Support vector machine
#Neural Networks

In [37]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier()
RF_model.fit(x_train,y_train)

preds=RF_model.predict(x_test)

pred_probability=RF_model.predict_proba(x_test)


from sklearn.metrics import accuracy_score
accuracy_test_RF=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train_RF=accuracy_score(y_train, train_preds)

print('accuracy_train_RF',accuracy_train_RF)
print('accuracy_test_RF',accuracy_test_RF)

accuracy_train_RF 1.0
accuracy_test_RF 0.9027409372236959

In [ ]:
#this model is less overfitting when compared to previous one 

#100.... 87 Default Decision Tree
#100... 90.... this is less overfitting Default Random Forest

In [38]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=12)
RF_model.fit(x_train,y_train)

preds=RF_model.predict(x_test)

pred_probability=RF_model.predict_proba(x_test)


from sklearn.metrics import accuracy_score
accuracy_test_RF=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train_RF=accuracy_score(y_train, train_preds)

print('accuracy_train_RF',accuracy_train_RF)
print('accuracy_test_RF',accuracy_test_RF)

accuracy_train_RF 0.9628318584070796
accuracy_test_RF 0.9018567639257294

In [ ]:
#this model is less overfitting when compared to previous one 

#this model is less overfitting when compared to previous one 

#100.... 87 Default Decision Tree
#100... 90.... this is less overfitting Default Random Forest
#96... 90.... this is less overfitting Random Forest maxdepth=12 better model

In [39]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=11)
RF_model.fit(x_train,y_train)

preds=RF_model.predict(x_test)

pred_probability=RF_model.predict_proba(x_test)


from sklearn.metrics import accuracy_score
accuracy_test_RF=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train_RF=accuracy_score(y_train, train_preds)

print('accuracy_train_RF',accuracy_train_RF)
print('accuracy_test_RF',accuracy_test_RF)

accuracy_train_RF 0.9533923303834808
accuracy_test_RF 0.9000884173297966

In [ ]:
#this model is less overfitting when compared to previous one 

#this model is less overfitting when compared to previous one 

#100.... 87 Default Decision Tree
#100... 90.... this is less overfitting Default Random Forest
#96... 90.... this is less overfitting Random Forest maxdepth
#95... 90.... this is less overfitting Random Forest maxdepth= 11 better model

In [40]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=10)
RF_model.fit(x_train,y_train)

preds=RF_model.predict(x_test)

pred_probability=RF_model.predict_proba(x_test)


from sklearn.metrics import accuracy_score
accuracy_test_RF=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train_RF=accuracy_score(y_train, train_preds)

print('accuracy_train_RF',accuracy_train_RF)
print('accuracy_test_RF',accuracy_test_RF)

accuracy_train_RF 0.9433628318584071
accuracy_test_RF 0.9036251105216623

In [42]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=9)
RF_model.fit(x_train,y_train)

preds=RF_model.predict(x_test)

pred_probability=RF_model.predict_proba(x_test)


from sklearn.metrics import accuracy_score
accuracy_test_RF=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train_RF=accuracy_score(y_train, train_preds)

print('accuracy_train_RF',accuracy_train_RF)
print('accuracy_test_RF',accuracy_test_RF)

accuracy_train_RF 0.9383480825958702
accuracy_test_RF 0.8983200707338639

In [43]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=9,n_estimators=1000)
RF_model.fit(x_train,y_train)

preds=RF_model.predict(x_test)

pred_probability=RF_model.predict_proba(x_test)


from sklearn.metrics import accuracy_score
accuracy_test_RF=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train_RF=accuracy_score(y_train, train_preds)

print('accuracy_train_RF',accuracy_train_RF)
print('accuracy_test_RF',accuracy_test_RF)

accuracy_train_RF 0.9321533923303835
accuracy_test_RF 0.9000884173297966

In [ ]:
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
max depth = 12...... 96 Train..... 85.... test

max depth = 10...... 93 Train..... 87.... test 

#less non linear decision boundary
#misclassify few items

#Bias _variance Trade off

100 %.... 90 % testing
95% 88%

In [ ]:
#max depth =10...... max depth 14..... training set accuracy increases.... test accuracy decreases

In [ ]:
#max_feature = 0.5  96 Train..... 85.... test

#max_feature = 0.7  98 train..... 

#max_feature = 0.3 85 train  ...... 78 test

In [ ]:
#when I taking 0.3 there is more probability my decision trees will be more different comparatively

In [ ]:
# different decision trees.... # more variant decision trees

#n_estimators... no. of decision trees

#n_estimators ..... 100... 1000... 2000.... It will have effect on overfitting

#it will reduce over fitting... I am considering more decision tree which are differnt

#I am pumping more variance in to my model.....

In [ ]:
93 Train..... 87.... test

65% in training... 62%.....  

100%....95% training
35%
   
95%
90%

85%
45%

75%   75%  75%
55%   61%  71%

75%


65%
61%


75
71

52
45

75    65
52    58

75
38



training.... 

65

testing......

64.02

In [ ]:
#n_estimators = number of trees in the foreset
#max_features = max number of features considered for splitting a node
#max_depth = max number of levels in each decision tree
#min_samples_split = min number of data points placed in a node before the node is split
#min_samples_leaf = min number of data points allowed in a leaf node
#bootstrap = method for sampling data points (with or without replacement)

#For random forest algorithms, one can manipulate a variety of key attributes that define model structure. 

#A comprehensive list can be found under the documentation for scikit-learn’s random forest classifier found here.

#The following five hyperparameters are commonly adjusted:
#N_estimators:
    #Random forest models are ensembles of decision trees and we can define the number of decision trees in the forest. 

    #Additional decision trees typically improve model accuracy because predictions are made based on a larger number of “votes” from diverse trees, however, large numbers of trees are computationally expensive.
#Max_features:
    #Random forest models randomly resample features prior to determining the best split. 
    #Max_features determines the number of features to resample. 
    #Larger max_feature values can result in improved model performance because trees have a larger selection of features from which choose the best split, but can also cause trees to be less diverse and induce overfitting. The common theme here is one needs to identify an optimal value that balances overfitting and under-fitting. Common choices include:
    #‘auto’: places no restrictions on the number of features,
    #‘sqrt’: square root of the total number of features,
    #‘log2’: base two logarithm of the total number of features.
#Max_depth:
    #Each tree in the random forest model makes multiple splits to isolate homogeneous groups of outcomes. 
    #Larger numbers of splits allowed in each tree enables the trees to explain more variation in the data, however, trees with many splits may overfit the data. A range of depth values should be evaluated, including “None” where trees are split until all the leaves are pure.
#Min_samples_split:
    #We can control the minimum number of samples required to split each node. Values too large may cause under-fitting, as the trees won’t be able to split enough times to achieve node purity. This hyperparameter should be based on the number of records in the training dataset.
#Min_samples_leaf:
    #Much like stopping the growth of trees once a minimum number of samples per split is reached, we can set the minimum number of samples required for each leaf. With values too large, the trees may not be able to split enough to capture sufficient variation in the data. 
    #Optimal values for this hyperparameter are dependent on the size of the training set.
    #Cross-validation is often used to determine the optimal values for hyperparameters; we want to identify a model structure that performs the best on records it has not been trained on. A variety of hyperparameter values should be considered. For example, below are some candidate hyperparameters.

In [38]:
#Finding the importance of each feature
importances = clf.feature_importances_
import numpy as np
indices = np.argsort(importances)[::-1]
pd.DataFrame([x_train.columns[indices],np.sort(importances)[::-1]])


feature_importances = pd.DataFrame(clf.feature_importances_,index=x_train.columns,columns=['Importance'])

In [39]:
feature_importances

                     Importance
age                    0.096665
balance                0.089464
day                    0.108727
duration               0.261795
campaign               0.045282
pdays                  0.030410
previous               0.021598
job_admin.             0.007700
job_blue-collar        0.002081
job_entrepreneur       0.000000
job_housemaid          0.005270
job_management         0.005267
job_retired            0.003859
job_self-employed      0.006756
job_services           0.003816
job_student            0.000417
job_technician         0.012749
job_unemployed         0.001320
job_unknown            0.006265
marital_divorced       0.011946
marital_married        0.017287
marital_single         0.008259
education_primary      0.000000
education_secondary    0.022805
education_tertiary     0.006787
education_unknown      0.004932
default_no             0.000000
default_yes            0.003114
housing_no             0.008780
housing_yes            0.005282
loan_no                0.002978
loan_yes               0.003098
contact_cellular       0.004194
contact_telephone      0.003496
contact_unknown        0.001996
month_apr              0.007160
month_aug              0.006844
month_dec              0.000000
month_feb              0.006125
month_jan              0.000068
month_jul              0.006372
month_jun              0.006737
month_mar              0.015487
month_may              0.012163
month_nov              0.006868
month_oct              0.025476
month_sep              0.003169
poutcome_failure       0.000000
poutcome_other         0.002486
poutcome_success       0.082200
poutcome_unknown       0.004454

In [ ]:
#Hyperparameter tuning
#Bias Variance trade off

#Grid Search CV
#Random Search CV

#max_feature.... 0.4, 0.3, 0.5
#n estimators.... 100 1000 2000
#max depth... 8,10,12

#para grid...

#max_feature.... 0.4, 0.3, 0.5
#n estimators.... 100 1000 2000
#max depth... 8,10,12

#Grid Search CV

#0.4,1000,12

#RF(0.4,1000,12)

12 m